body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* h1 {
    font-size: 50px;
    color: orange;
} */

.head {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;

}

.link-button {
    text-decoration: none;
    /* Underline disappears Under Link  Button */
    background-color: orange;
    /* use background image tag for gradient color */
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    /* 400= regular 700= bold */
    padding: 10px 40px;
    /* top-Bottom+left-Right */
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* images will not repeated */
}